<div class="task">
  <h4 class="task__toggle-header" (click)="toggleAccordionTask(0)">
    Задание №1
    <span *ngIf="accordions[0]; else firstToggle">🔺</span>
    <ng-template #firstToggle>🔻</ng-template>
  </h4>

  <div *ngIf="accordions[0]">
    <button class="task__button task__button_margin-bottom task__button_margin-right" (click)="toggleTabVisibility()">Toggle 3 tab</button>

    <tabs>
      <tab>
        <tab-title>
          Title 1
        </tab-title>
        <tab-content>
          <i>Content</i> 1
          <br>
        </tab-content>
      </tab>
      <tab>
        <tab-title>
          <i>Title</i> 2
        </tab-title>
        <tab-content>
          Content 2
        </tab-content>
      </tab>
      <tab *ngIf="isTabVisible">
        <tab-title>
          Title 3
        </tab-title>
        <tab-content>
          Content 3
        </tab-content>
      </tab>
    </tabs>

    <br>
    <button class="task__button task__button_margin-bottom task__button_margin-right" (click)="addTab()">Add tab</button>
    <button class="task__button task__button_margin-bottom" (click)="removeTab()">Remove tab</button>

    <tabs>
      <tab *ngFor="let el of tabs">
        <tab-title>
          Title {{el}}
        </tab-title>
        <tab-content>
          <i>Content</i> {{el}}
        </tab-content>
      </tab>
    </tabs>
  </div>
</div>

<div class="task">
  <h4 class="task__toggle-header" (click)="toggleAccordionTask(1)">
    Задание №2
    <span *ngIf="accordions[1]; else secondToggle">🔺</span>
    <ng-template #secondToggle>🔻</ng-template>
  </h4>

  <div *ngIf="accordions[1]">
    <div *ifViewportSize="'small'">#1 Small</div>
    <div *ifViewportSize="'medium'">#2 Medium</div>
    <div *ifViewportSize="'medium'; size: 300">#2 Medium 300</div>
    <div *ifViewportSize="'large'">#3 Large</div>
  </div>
</div>
